[submodule "assignment-4-scalable-and-distributed-data-processing-group-87"]
	path = assignment-4-scalable-and-distributed-data-processing-group-87
	url = git@gitlab.db.in.tum.de:cbdp-group-87/assignment-4-scalable-and-distributed-data-processing-group-87.git
